.card-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .expiration-cvc {
    display: flex;
    gap: 16px;
  }
  
  .half-width {
    width: calc(50% - 8px);
  }
  