<div class="div-main">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#page-top">Urban Move</a>
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto my-2 my-lg-0">
          <li class="nav-item"><a class="nav-link" href="#about">Acceuil</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gouvernerats">Gouvernements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="login()">Connexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
      <div
        class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
      >
        <div class="col-lg-8 align-self-end">
          <h1 class="text-white font-weight-bold">
            Location de trotinettes éléctriques en Tunisie
          </h1>
          <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 mb-5">
            Location de trottinette électrique.
            Imaginez-vous glisser avec aisance dans les rues animées de la ville.
            Échappant aux foules et aux embouteillages.
            
          </p>
          <a class="btn btn-primary btn-xl"  (click)="login()" style="display: inline-block;">Connectez-vous</a>
        </div>
      </div>
    </div>
  </header>
  <!-- About-->
   <!-- Description-->
  <section class="page-section" id="description">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <h2 class="mt-0" style="text-align: center;">Inscrivez vous !</h2>
        <div style="width: 100%;" class="col-lg-8 col-xl-6 text-center">
          <hr class="divider" />
          <p>
            Inscrivez-vous en quelques instants dans l'application URBAN MOVE afin d’avoir accès à des milliers de trottinettes électriques de notre partenaire TIER en France et partout dans le monde. Choisissez à tout moment le moyen de transport qui correspond le mieux à vos besoins actuels et réservez-le avec un seul clic.</p>
        </div>
      </div>
            </div>
  </section>

  <!-- Services-->
  <section class="page-section" id="services">
    <div class="container">
        <h3 class="text-center mt-0">Location de trottinettes électriques : COMMENT ÇA MARCHE ?</h3>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center text-center p-3">
                <div class="mt-5">
                    <img src="../../../assets/img/Vorsichtig_fahren_285.png" width="250" class="bi-gem fs-1 text-primary mb-4" alt="Conduire en Sécurité">
                    <h3 class="h5 mb-3">CONDUIRE EN SÉCURITÉ</h3>
                    <p class="text-muted mb-4">
                        Pour votre sécurité, nous vous recommandons de toujours porter un casque quand vous conduisez. Soyez toujours attentif quand vous conduisez, respectez le code de la route et faites attention aux autres usagers de la route.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center text-center p-3">
                <div class="mt-5">
                    <img src="../../../assets/img/Scooter_starten_285.png" width="250" class="bi-gem fs-1 text-primary mb-4" alt="Démarrer">
                    <h3 class="h5 mb-3">DÉMARRER</h3>
                    <p class="text-muted mb-4" style="width: 100%;">
                        Une fois que vous avez commencé la location dans l’application, mettez un pied sur la trottinette et donnez un coup d’élan avec l’autre comme avec un scooter. Positionnez ensuite les deux pieds sur la trottinette.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center text-center p-3">
                <div class="mt-5">
                    <img src="../../../assets/img/Fahrt_beginnen_285.png" width="250" class="bi-gem fs-1 text-primary mb-4" alt="Conduire">
                    <h3 class="h5 mb-3">CONDUIRE</h3>
                    <p class="text-muted mb-4" style="width: 100%;">
                        Utilisez le levier d'accélérateur sur la poignée de droite pour prendre de la vitesse. Utilisez le frein sur la poignée ou le frein à pied sur la roue arrière pour réduire votre vitesse ou vous arrêter.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center text-center p-3">
                <div class="mt-5">
                    <img src="../../../assets/img/Fahrt_beenden_285.png" width="250" class="bi-gem fs-1 text-primary mb-4" alt="Terminer la Location">
                    <h3 class="h5 mb-3">TERMINER LA LOCATION</h3>
                    <p class="text-muted mb-4" style="width: 100%;">
                        Après le trajet, veuillez garer la trottinette électrique en toute sécurité
                        à l’intérieur du secteur d'activité. Respectez les règles de stationnement 
                        en vigueur et n'obstruez pas le passage aux piétons ou aux autres usagers de la route.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<h3 class="text-center mt-0">Les trotinettes sont disponibles chez URBAN MOVE dans les villes suivantes</h3>
<hr class="divider" />

  <!-- GOUVERNEMENTS-->
  <div id="gouvernerats">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-lg-4 col-sm-6">
         
            <img
              class="img-fluid"
              style="height: fit-content;width: fit-content;"
              src="assets/img/portfolio/thumbnails/99.jpg"
              alt="..."
            />
            <h4 class="h5 mb-3" style="display: block;text-align: center;color: #000;">Manouba</h4>
          
        
        </div>
        <div class="col-lg-4 col-sm-6">
          
            <img
              class="img-fluid"
              style="height: fit-content;width: fit-content;text-align: center;"
              src="assets/img/portfolio/thumbnails/14.jpg"
              alt="..."
            />
            <h4 class="h5 mb-3" style="display: block;text-align: center;color: #000;">Tunis</h4>

           
     
        </div>
        <div class="col-lg-4 col-sm-6">
         
            <img
              class="img-fluid"
              style="height: fit-content;width: fit-content;"
              src="assets/img/portfolio/thumbnails/9.jpg"
              alt="..."
            />
            <h4 class="h5 mb-3" style="display: block;text-align: center;color: #000;">Ariana</h4>     
        </div>
        
  </div>
  <!-- Call to action-->
  <section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
      <h2 class="mb-4">Rejoignez Urban Move </h2>
      <img
              class="img-fluid"
              src="assets/img/portfolio/thumbnails/609.jpg"
              alt="..."
            />
    </div>
  </section>
  <!-- Contact-->
  <section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 col-xl-6 text-center">
          <h2 class="mt-0">Contactez-nous</h2>
          <hr class="divider" />
          <p class="text-muted mb-5">
            "Votre avis compte ! Écrivez-nous pour partager vos commentaires ou suggestions."
          </p>
        </div>
      </div>
      <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
        <div class="col-lg-6">
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * SB Forms Contact Form * *-->
          <!-- * * * * * * * * * * * * * * *-->
          <!-- This form is pre-integrated with SB Forms.-->
          <!-- To make this form functional, sign up at-->
          <!-- https://startbootstrap.com/solution/contact-forms-->
          <!-- to get an API token!-->
          <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <!-- Name input-->
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="name"
                type="text"
                placeholder="Enter your name..."
                data-sb-validations="required"
              />
              <label for="name">Nom et Prénom</label>
              <div class="invalid-feedback" data-sb-feedback="name:required">
                A name is required.
              </div>
            </div>
            <!-- Email address input-->
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="email"
                type="email"
                placeholder="name@example.com"
                data-sb-validations="required,email"
              />
              <label for="email">Email </label>
              <div class="invalid-feedback" data-sb-feedback="email:required">
                An email is required.
              </div>
              <div class="invalid-feedback" data-sb-feedback="email:email">
                Email is not valid.
              </div>
            </div>
            <!-- Phone number input-->
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="phone"
                type="tel"
                placeholder="(123) 456-7890"
                data-sb-validations="required"
              />
              <label for="phone">Numéro de téléphone</label>
              <div class="invalid-feedback" data-sb-feedback="phone:required">
                A phone number is required.
              </div>
            </div>
            <!-- Message input-->
            <div class="form-floating mb-3">
              <textarea
                class="form-control"
                id="message"
                type="text"
                placeholder="Enter your message here..."
                style="height: 10rem"
                data-sb-validations="required"
              ></textarea>
              <label for="message">Message</label>
              <div class="invalid-feedback" data-sb-feedback="message:required">
                A message is required.
              </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                To activate this form, sign up at
                <br />
                <a href="https://startbootstrap.com/solution/contact-forms"
                  >https://startbootstrap.com/solution/contact-forms</a
                >
              </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage">
              <div class="text-center text-danger mb-3">
                Error sending message!
              </div>
            </div>
            <!-- Submit Button-->
            <div class="d-grid">
              <button
                class="btn btn-primary btn-xl disabled"
                id="submitButton"
                type="submit"
              >
                Envoyez
              </button>
            </div>
          </form>
        </div>
      </div>
     
    </div>
  </section>
  <!-- Footer-->
  <title>Footer Réseaux Sociaux</title>

     <style>
        /* Styles pour le footer */
        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        footer a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
    </style>
  <footer>
    <!-- Liens vers les réseaux sociaux -->
    <a href="https://www.facebook.com/votre-page" target="_blank">Facebook : UrbanMove.tn</a>
    <a href="https://www.instagram.com/votre-page" target="_blank">Instagram : Urban_Move_tn</a>
    <a href="https://twitter.com/votre-page" target="_blank">Twitter :UrbanMove</a>
    <!-- Numéro de téléphone -->
    <p>Numéro de téléphone : +123456789</p>
</footer>
</div>
